body{
    font-family : sans-serif;
}

article {
    padding-top: 30px;
    margin-left:  50px;
    margin-right: 50px;
}

aside{
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

p{
    text-align: justify;
}

footer{
    border-top: 1px;
    border-top-color: black;
    border-top-style: solid;
    padding: 3px;
    margin-left: 50px;
    margin-right: 50px;
    clear:both;
}

select{
    border-radius: 5px;
 }

.mainHeader{
    text-align: center;
    background-color: #cbd200;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

.articleHeader{
    text-align: left;
    background-color: #cbd200;
    padding-left: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.menuItem{
    display: inline;
    padding: 15px;
    margin: 5px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.errorField{
    border-color: red;
    background-color: lightsalmon;
    background-image: url(../img/alert.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}

p.errorIcon{
    background-image: url(../img/alert.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}

div.error{
    text-align: center;
}

div.success{
    text-align: center;
}

fieldset.fieldBlock{
    width: 50%;
    padding-left: 2px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    margin-top: 10px;
}

fieldset.buttonBlock{
    width: 50%;
    border : none;
    margin-top: 10px;
}

div.form{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.content{
    margin-top: 50px;  
    margin-left: 50px;
    margin-right: 50px;    
}

#selectable .ui-selecting {
    background: #FECA40;
}
#selectable .ui-selected {
    background: #cbd200; color: white;
}
#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
#selectable li{
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}